name: Test and build

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  check-lint:
    name: Check lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run lint:check

  test-code:
    name: Test code

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm test

  test-action: # make sure the action works on a clean machine without building
    name: Test action

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run package
